build/
*.o
*.obj
*.elf
*.bin
*.map
*.lst

*.iso

iso_root/

*.tmp
*.temp
*.bak
*.swp
*.swo
*~
*.log

.vscode/
*.qcow2
*.img

!README.md
!KERNEL_API.md
!Makefile
!limine.conf
!InnovatiOS.png
!limine/

scratch.py
LATER.md